h1 {
  color: blue;
}

label {
  font-weight: bold;
  font-style: italic;
}

.jumbotron {
  min-height: 100vh;
}

#listaMensajes {
  margin: 1rem 0 2rem 0;
}

.blue {
  color: blue;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: rgb(0, 190, 0);
}
